@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");

.sideNav .sideNavItem {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-bottom: 35px;
}

.sideNavLink {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #66a6ff;
  text-decoration: none;
}
