.title-section {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.sub-title-section {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.formLabel {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.subFormLabel {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #c4c4c4;
  padding-top: 14px;
}

.btn-blue {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: #66a6ff;
  border-radius: 60px;
  width: 180px;
}

.btn-blue:hover {
  color: #ffffff;
  background-color: #4d95fa;
}
